html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: none;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(./base/fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(./base/fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Light";
  src: url(./base/fonts/Roboto/Roboto-Light.ttf);
}
body {
  font-style: normal;
  line-height: normal;
}

header {
  background-image: url(../image/Background.png);
  width: 1440px;
  height: 700px;
  color: #FFF;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 40px 248px;
}

.logo {
  padding-top: 6px;
  font-size: 20px;
  font-family: "Montserrat-Bold";
}

.autorization {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  padding-right: 43px;
}
.autorization__log_in {
  cursor: pointer;
  padding: 2px 19px 0 0;
}
.autorization__sing_up {
  width: 90px;
  height: 36px;
  cursor: pointer;
  border-radius: 40px;
  padding: 1px 0 0 16px;
  border: 2px solid #FFF;
}

.head-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 108px 0 0 1px;
}
.head-text__large {
  width: 470px;
  text-align: center;
  font-family: "Montserrat-Bold";
  font-size: 52px;
}
.head-text__small {
  font-family: "Roboto-Light";
  font-size: 24px;
  font-weight: 300;
  padding: 28px 0 0 0;
  line-height: 24.5px;
  color: #F7F3F2;
}
.head-text__button {
  width: 225px;
  height: 40px;
  text-align: center;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  border-radius: 40px;
  background: #FF4E50;
  margin: 33px 0 0 0;
  padding: 3px 0 0 2px;
}

main {
  width: 1440px;
  margin: 0 auto;
}

.box-works {
  margin: 0 auto;
  padding-top: 89px;
}

.title {
  color: #444;
  text-align: center;
  font-family: "Montserrat-Bold";
  font-size: 26px;
  margin-left: 0.5px;
}

.works {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  padding-top: 35px;
  color: #FFF;
}
.works div {
  width: 300px;
  height: 400px;
  border-radius: 4px;
}
.works__fs__gradient, .works__sd__gradient, .works__th__gradient {
  padding: 0 0 5px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.works__step {
  width: 70px;
  height: 20px;
  font-family: "Montserrat-Regular";
  font-size: 10px;
  letter-spacing: 2px;
  border-radius: 40px;
  background: #FF4E50;
  padding: 5px 0 0 14px;
}
.works__text-large {
  width: 250px;
  height: 58px;
  font-family: "Montserrat-Bold";
  font-size: 24px;
  line-height: 26px;
}
.works__text-small {
  width: 250px;
  height: 57px;
  color: #E3E3E3;
  font-family: "Roboto-Light";
  font-size: 14px;
  line-height: 14px;
}
.works__fs {
  background-image: url(../image/Object1.png);
}
.works__fs__gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.works__sd {
  background-image: url(../image/Object2.png);
}
.works__sd__gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
}
.works__sd .works__step {
  padding: 5px 0 0 13px;
}
.works__sd .works__text-large {
  margin-top: 10px;
  padding-top: 14px;
}
.works__th {
  background-image: url(../image/Object3.png);
}
.works__th .works__step {
  padding: 5px 0 0 13px;
}
.works__fs .works__text-large, .works__th .works__text-large {
  margin-top: 22px;
}
.works__fs .works__text-small, .works__th .works__text-small {
  margin-top: 19px;
}

.box-partners {
  margin: 0 auto;
  padding-top: 89px;
  width: 941px;
  text-align: center;
}
.box-partners .title {
  padding-left: 3px;
}
.box-partners button {
  width: 182px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #FF4E50;
  background: #FFF;
  text-align: center;
  color: #FF4E50;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  margin-top: 35px;
  margin-left: 3px;
  padding-left: 4px;
  padding-top: 2px;
}

.partner {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 941px;
}
.partner__fs, .partner__sd, .partner__th, .partner__fr {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.partner__fs, .partner__sd {
  width: 221px;
  height: 205px;
  margin-top: 18px;
}
.partner__fs .name, .partner__sd .name {
  margin-top: 19px;
}
.partner__fs .discribe, .partner__sd .discribe {
  margin-top: 23px;
}
.partner__th, .partner__fr {
  width: 221px;
  height: 225px;
  margin-top: 35px;
}
.partner__th .name, .partner__fr .name {
  margin-top: 19px;
}
.partner__th .discribe, .partner__fr .discribe {
  margin-top: 27px;
}
.partner__fs {
  margin-right: 19px;
}
.partner__fs .avatar {
  background-image: url(../image/Bitmap1.png);
  margin-left: 0;
}
.partner__fs .back {
  background-color: #FF4E50;
}
.partner__fs .back__icon {
  background-image: url(../image/music.png);
}
.partner__sd {
  margin-right: 19px;
}
.partner__sd .avatar {
  background-image: url(../image/Bitmap2.png);
  margin-left: 1px;
}
.partner__sd .back {
  background-color: #19D4CA;
}
.partner__sd .back__icon {
  background-image: url(../image/brush.png);
  margin-right: 1px;
  margin-bottom: 1px;
}
.partner__th {
  margin-right: 19px;
}
.partner__th .avatar {
  background-image: url(../image/Bitmap3.png);
}
.partner__th .back {
  background-color: #FFA710;
}
.partner__th .back__icon {
  background-image: url(../image/camera.png);
  margin-bottom: 3px;
}
.partner__th .discribe {
  margin-left: 9px;
}
.partner__fr .avatar {
  background-image: url(../image/Bitmap4.png);
}
.partner__fr .back {
  background-color: #667DF3;
}
.partner__fr .back__icon {
  background-position: center;
  background-image: url(../image/airplane.png);
  width: 17px;
  height: 16px;
  margin-left: 3px;
  margin-bottom: 1px;
}

.avatar {
  width: 119px;
  height: 119px;
  border-radius: 49%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 126px;
  padding: 84px 0 0 84px;
}

.back {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back__icon {
  width: 16px;
  height: 16px;
}

.name {
  width: 221px;
  color: #444;
  text-align: center;
  font-family: "Montserrat-Bold";
  font-size: 14px;
}

.discribe {
  width: 221px;
  color: #666;
  text-align: center;
  font-family: "Roboto-Light";
  font-size: 14px;
  line-height: 14px;
}

.box-holidays {
  width: 940px;
  margin: 0 auto;
  padding-top: 89px;
  height: 100%;
}

.holiday {
  display: flex;
  align-content: flex-start;
  height: 100%;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 35px;
}
.holiday__fs, .holiday__sd, .holiday__th, .holiday__fr, .holiday__sv {
  width: 300px;
  height: 310px;
  border-radius: 4px;
}
.holiday__ft, .holiday__sx {
  width: 620px;
  height: 310px;
  border-radius: 4px;
}
.holiday__fs {
  background-image: url(../image/holiday1.png);
}
.holiday__sd {
  background-image: url(../image/holiday2.png);
}
.holiday__th {
  background-image: url(../image/holiday3.png);
}
.holiday__fr {
  background-image: url(../image/holiday4.png);
}
.holiday__ft {
  background-image: url(../image/holiday5.png);
}
.holiday__sx {
  background-image: url(../image/holiday6.png);
}
.holiday__sv {
  background-image: url(../image/holiday7.png);
}
.holiday__text {
  color: #FFF;
  font-family: "Montserrat-Bold";
  font-size: 22px;
}

.opasity {
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  text-align: center;
}

.create-holiday {
  width: 482px;
  height: 158px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-top: 95px;
}

.discribe-small {
  width: 415px;
  height: 24px;
  color: #666;
  text-align: center;
  font-family: "Roboto-Light";
  font-size: 18px;
  line-height: 14px;
  padding-left: 1px;
  margin-top: 53px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-top: 1px;
  padding-right: 2px;
  margin-top: 24px;
}
.search__term {
  width: 299px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #D4D4D4;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07);
  color: #999;
  font-family: "Roboto-Light";
  font-size: 14px;
  margin: 0 5px 0 0;
  padding: 4px 14px 0 14px;
}
.search__button {
  width: 173px;
  height: 40px;
  border-radius: 40px;
  background: #FF4E50;
  color: #FFF;
  font-family: "Montserrat-Bold";
  text-align: center;
  font-size: 14px;
  margin: 0 0 0 5px;
  padding: 1px 0 0 4px;
}

footer {
  width: 1440px;
  height: 260px;
  margin: 0 auto;
  margin-top: 100px;
  border-top: 2px solid #FF4E50;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 34px 0 0 249.5px;
}
footer .logo {
  color: #FF4E50;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  padding: 3px 0 0 0;
}
footer .discribe {
  color: #999;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 122px;
}
footer .discribe__company {
  color: #444;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  margin-bottom: 7px;
}
footer .discribe__all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.partners {
  color: #444;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  margin: 4px 0 0 18px;
}

.designed {
  display: flex;
  flex-direction: column;
  margin-left: 288px;
}
.designed__by {
  color: #CCC;
  font-family: "Montserrat-Bold";
  font-size: 10px;
  letter-spacing: 1px;
  text-align: end;
  margin: 4px 0 0 0;
  padding-right: 3px;
}
.designed__icon {
  width: 110px;
  height: 24px;
  background-image: url(../image/icon.png);
  margin: 6px 6px 0 0;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  header {
    background-image: url(../image/Background.png);
    width: 768px;
    background-position: center;
  }
  .container {
    padding: 40px 7px 40px 48px;
  }
  .autorization__log_in {
    padding: 2px 20px 0 0;
  }
  .head-text__small {
    padding: 28px 1px 0 0;
  }
  .head-text__button {
    padding: 2px 0 0 1px;
  }
  main {
    width: 768px;
    margin: 0 auto;
  }
  .box-works {
    padding-top: 94px;
  }
  .title {
    font-size: 22px;
  }
  .works {
    gap: 20px;
    padding-top: 35px;
  }
  .works div {
    width: 236px;
  }
  .works__fs__gradient, .works__sd__gradient, .works__th__gradient {
    padding: 0 0 0 20px;
  }
  .works__step {
    padding: 5px 0 0 14px;
  }
  .works__text-large {
    width: 196px;
    height: 58px;
    line-height: 14px;
  }
  .works__text-small {
    width: 196px;
    height: 76px;
    padding-top: 5px;
  }
  .works__sd .works__step {
    padding: 5px 0 0 13px;
  }
  .works__sd .works__text-small {
    margin-top: 18px;
    padding-top: 19px;
  }
  .works__sd .works__text-large {
    width: 196px;
    height: 29px;
    margin-top: 2px;
  }
  .works__th .works__step {
    padding: 5px 0 0 13px;
  }
  .works__fs .works__text-large, .works__th .works__text-large {
    margin-top: 22px;
    padding-top: 24px;
  }
  .works__fs .works__text-small, .works__th .works__text-small {
    margin-top: 19px;
  }
  .box-partners {
    padding-top: 94px;
    width: 492px;
  }
  .box-partners .title {
    padding-left: 0;
    padding-right: 1px;
  }
  .box-partners button {
    margin-top: 30px;
    margin-left: 0;
    width: 180px;
    padding-left: 5px;
  }
  .partner {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 26px 0 0 0;
    margin: 0;
    gap: 35px 19px;
  }
  .partner__fs, .partner__sd {
    width: 236px;
    height: 205px;
    margin-top: 0;
    padding-right: 1px;
  }
  .partner__fs .name, .partner__sd .name {
    margin-top: 19px;
  }
  .partner__fs .discribe, .partner__sd .discribe {
    margin-top: 22px;
    width: 236px;
    height: 38px;
    text-align: center;
  }
  .partner__th, .partner__fr {
    width: 236px;
    height: 224px;
    margin-top: 0;
  }
  .partner__th .name, .partner__fr .name {
    margin-top: 19px;
    padding-left: 2px;
  }
  .partner__th .discribe, .partner__fr .discribe {
    margin-top: 0;
    width: 236px;
    height: 57px;
    text-align: center;
    margin-top: 2px;
    padding-top: 20px;
    padding-left: 1px;
  }
  .partner__fs {
    margin-left: 0;
    margin-right: 0;
    order: 1;
  }
  .partner__fs .avatar {
    margin-left: 0;
  }
  .partner__sd {
    margin-right: 0;
    order: 3;
  }
  .partner__sd .avatar {
    margin-left: 0;
  }
  .partner__th {
    margin-right: 0;
    order: 2;
  }
  .partner__th .discribe {
    margin-left: 0;
    padding-top: 25px;
  }
  .partner__fr {
    order: 4;
  }
  .box-holidays {
    width: 748px;
    padding-top: 94px;
  }
  .box-holidays .title {
    margin: 0;
  }
  .holiday {
    gap: 20px;
    padding-top: 35px;
  }
  .holiday__fs, .holiday__sd, .holiday__th, .holiday__fr, .holiday__sv {
    width: 236px;
    height: 310px;
  }
  .holiday__ft, .holiday__sx {
    width: 492px;
    height: 310px;
  }
  .holiday__fs {
    background-image: url(../image/holiday1_1.png);
  }
  .holiday__fs p {
    width: 206px;
    height: 54px;
    margin-bottom: 26px;
    padding-right: 1px;
  }
  .holiday__sd {
    background-image: url(../image/holiday2_2.png);
  }
  .holiday__th {
    background-image: url(../image/holiday3_3.png);
  }
  .holiday__fr {
    background-image: url(../image/holiday4_4.png);
  }
  .holiday__ft {
    background-image: url(../image/holiday5_5.png);
  }
  .holiday__sx {
    background-image: url(../image/holiday6_6.png);
  }
  .holiday__sv {
    background-image: url(../image/holiday7_7.png);
  }
  .holiday__text {
    color: #FFF;
    font-family: "Montserrat-Bold";
    font-size: 22px;
  }
  .holiday .opasity {
    padding-left: 0;
  }
  .create-holiday {
    padding-left: 1px;
  }
  .create-holiday .title {
    padding: 0;
    margin: 0;
    margin-left: 2.5px;
    letter-spacing: 0.045px;
  }
  .search__button {
    width: 172.98px;
    height: 40px;
    margin: 0 0 0 5px;
    padding: 2px 0 0 4.5px;
  }
  footer {
    width: 768px;
    height: 244px;
    padding: 34px 0 0 39px;
    gap: 50px;
  }
  footer .discribe {
    width: 114px;
    margin-left: 58px;
  }
  footer .discribe a {
    height: 26px;
    text-align: start;
  }
  .partners {
    color: #444;
    font-family: "Montserrat-Bold";
    font-size: 14px;
    margin: 4px 0 0 6px;
  }
  .designed {
    display: flex;
    flex-direction: column;
    margin-left: 69px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    width: 320px;
    height: 540px;
    background-image: url(../image/Background1.png);
    background-repeat: no-repeat;
    margin: 0 0 0 5px;
  }
  .logo {
    align-self: center;
    padding-top: 97px;
    padding-left: 13px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 20px;
  }
  .autorization {
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 68px;
  }
  .autorization__log_in {
    padding: 2px 10px 0 0;
    margin: 0 0 0 0;
  }
  .autorization__sing_up {
    margin: 0 0 0 0;
    padding: 1px 0 0 16px;
  }
  .head-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7px 0 0 8px;
  }
  .head-text__large {
    width: 272px;
    font-size: 30px;
  }
  .head-text__small {
    width: 280px;
    height: 49px;
    font-size: 18px;
    padding: 5px 0 0 1px;
    text-align: center;
  }
  .head-text__button {
    width: 280px;
    height: 40px;
    font-size: 14px;
    margin: 20px 0 0 3px;
    padding: 1px 0 0 1px;
  }
  main {
    width: 320px;
    margin: 0 auto;
  }
  .box-works {
    margin: 0 auto;
    padding-top: 34px;
  }
  .works {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
  }
  .works div {
    width: 300px;
    height: 240px;
    border-radius: 4px;
  }
  .works__fs__gradient, .works__sd__gradient, .works__th__gradient {
    padding: 0 0 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .works__step {
    padding: 5px 0 0 14px;
  }
  .works__text-large {
    line-height: 14px;
  }
  .works__text-small {
    width: 250px;
    height: 57px;
    font-size: 14px;
    line-height: 14px;
  }
  .works__fs {
    background-image: url(../image/Object1_1.png);
  }
  .works__sd {
    background-image: url(../image/Object2_2.png);
  }
  .works__sd .works__step {
    padding: 5px 0 0 12px;
  }
  .works__sd .works__text-large {
    width: 250px;
    height: 29px;
    margin-top: 16px;
    padding-top: 14px;
  }
  .works__sd .works__text-small {
    padding: 5px 0 0 0;
    margin-top: 18px;
  }
  .works__th {
    background-image: url(../image/Object3_3.png);
  }
  .works__th__gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  }
  .works__th .works__step {
    padding: 5px 0 0 12px;
  }
  .works__fs .works__text-large, .works__th .works__text-large {
    margin-top: 22px;
  }
  .works__fs .works__text-small, .works__th .works__text-small {
    margin-top: 14px;
  }
  .box-partners {
    padding-top: 36px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .box-partners .title {
    width: 280px;
    height: 54px;
    padding: 0;
    margin: 0;
  }
  .box-partners button {
    width: 280px;
    height: 40px;
    margin-top: 16px;
    margin-left: 0;
    padding-left: 5px;
    padding-top: 2px;
  }
  .partner {
    padding: 0;
    gap: 0;
    align-items: center;
    justify-content: center;
  }
  .partner__fs, .partner__sd {
    margin-top: 16px;
  }
  .partner__fs .name, .partner__sd .name {
    margin-top: 19px;
  }
  .partner__fs .discribe, .partner__sd .discribe {
    margin-top: 23px;
  }
  .partner__th, .partner__fr {
    width: 221px;
    height: 225px;
    margin-top: 14px;
  }
  .partner__th .name, .partner__fr .name {
    margin-top: 19px;
  }
  .partner__th .discribe, .partner__fr .discribe {
    margin-top: 22px;
  }
  .partner__fs {
    margin-right: 0;
  }
  .partner__fs .avatar {
    margin-left: 0;
  }
  .partner__sd {
    margin-right: 0;
  }
  .partner__sd .avatar {
    margin-left: 0;
  }
  .partner__sd .back__icon {
    margin-left: 1px;
    margin-bottom: 2px;
  }
  .partner__sd .discribe {
    margin-top: 22px;
  }
  .partner__th {
    margin-right: 1px;
  }
  .partner__th .back__icon {
    margin-bottom: 3px;
  }
  .partner__th .discribe {
    margin-left: 0;
    padding: 5px 0 0 0;
  }
  .partner__fr {
    margin-top: 15px;
  }
  .partner__fr .avatar {
    margin-right: 1px;
  }
  .partner__fr .back__icon {
    margin-left: 3px;
    margin-bottom: 1px;
  }
  .partner__fr .name {
    padding: 0;
  }
  .partner__fr .discribe {
    margin-left: 0;
    padding: 0 0 0 0;
  }
  .box-holidays {
    width: 300px;
    margin: 0 auto;
    padding-top: 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
    justify-content: center;
  }
  .box-holidays .title {
    width: 280px;
    height: 54px;
    text-align: center;
  }
  .holiday {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 0;
  }
  .holiday__fs, .holiday__sd, .holiday__th, .holiday__fr, .holiday__sv, .holiday__ft, .holiday__sx {
    width: 300px;
    height: 120px;
  }
  .holiday__fs {
    background-image: url(../image/holiday1_11.png);
  }
  .holiday__sd {
    background-image: url(../image/holiday2_22.png);
  }
  .holiday__sd p {
    width: 206px;
    height: 54px;
  }
  .holiday__th {
    background-image: url(../image/holiday3_33.png);
  }
  .holiday__fr {
    background-image: url(../image/holiday4_44.png);
  }
  .holiday__ft {
    background-image: url(../image/holiday5_55.png);
  }
  .holiday__sx {
    background-image: url(../image/holiday6_66.png);
  }
  .holiday__sv {
    background-image: url(../image/holiday7_77.png);
  }
  .create-holiday {
    width: 100%;
    height: 100%;
    margin-top: 35px;
  }
  .create-holiday .title {
    width: 230px;
    margin: 0;
  }
  .discribe-small {
    width: 100%;
    height: 24px;
    padding-left: 2px;
    margin-top: 19px;
  }
  .search {
    flex-direction: column;
    align-items: center;
    padding-top: 1px;
    padding-right: 2px;
    margin-top: 4px;
  }
  .search__term {
    width: 280px;
    height: 40px;
    margin: 0 0 0 0;
    padding: 4px 14px 0 14px;
  }
  .search__button {
    width: 280px;
    height: 40px;
    margin: 10px 0 0 0;
    padding: 1px 0 0 12px;
  }
  footer {
    width: 320px;
    height: 226px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 0;
    gap: 0;
  }
  footer .logo {
    padding: 0 0 0 1px;
  }
  footer .discribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 9px;
  }
  footer .discribe__company {
    color: #444;
    font-family: "Montserrat-Bold";
    font-size: 14px;
    margin-bottom: 6px;
    padding-bottom: 0;
    height: 17px;
  }
  footer .discribe__all {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    -moz-column-gap: 14px;
         column-gap: 14px;
  }
  .partners {
    margin: 5px 1px 0 0;
  }
  .designed {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin: 9px 0 0 5px;
  }
  .designed__by {
    text-align: center;
    margin: 4px 0 0 0;
    padding-right: 3px;
  }
  .designed__icon {
    margin: 6px 6px 0 0;
  }
}/*# sourceMappingURL=main.css.map */